body{
  margin:0;
  font-family:"Courier New", monospace;

  background:
    linear-gradient(rgba(5,7,12,0.85), rgba(5,7,12,0.92)),
    url("https://images.alphacoders.com/133/1334139.jpg");

  background-size:cover;
  background-position:center;
  color:#7CFFB2;
}

header{
  text-align:center;
  padding:14px;
  background:#0b1220;
  border-bottom:2px solid #1f3b2c;
  letter-spacing:2px;
  font-weight:bold;
}

.container{ padding:15px; }

.card{
  background:#0b1220;
  border:1px solid #1f3b2c;
  border-left:4px solid #2dd4bf;
  padding:12px;
  border-radius:6px;
  margin-bottom:12px;
}

input,select{
  width:100%;
  padding:10px;
  margin-top:6px;
  border-radius:4px;
  border:1px solid #1f3b2c;
  background:#05070c;
  color:#7CFFB2;
}

button{
  width:100%;
  padding:10px;
  margin-top:6px;
  border:none;
  background:#1f3b2c;
  color:#7CFFB2;
  font-weight:bold;
}

button:hover{
  background:#2dd4bf;
  color:#05070c;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.stat{
  background:#0b1220;
  border:1px solid #1f3b2c;
  padding:10px;
  text-align:center;
  border-radius:6px;
}

.stat h2{ color:#2dd4bf; margin:0; }

#map{
  height:300px;
  border-radius:8px;
  border:2px solid #1f3b2c;
}

.flight{
  background:#05070c;
  border-left:3px solid #2dd4bf;
  padding:10px;
  margin-top:8px;
}